# <center>Assignment 4

In [1]:
Deadline: Friday 23:59

SyntaxError: ignored

Name:

**In this assignment you need to work with data from the [worldometers](https://www.worldometers.info/coronavirus/) website. I want you to scrape all 215 countries information about coronavirus cases from the website.** 
The data has to include:
- `Country name`
- `Total cases`
- `Total deaths`
- `Total recovered`
- `Active cases`
- `New cases`
- `New deaths`
- `Total tests`
- `Population`

**You need to use beautiful soup 4 and regular expressions for this task. Save results in csv file and read this dataset**

Run cell below, if you don't have bs4 library

In [2]:
!pip install BeautifulSoup4

"pip" �� ���� ����७��� ��� ���譥�
��������, �ᯮ��塞�� �ணࠬ��� ��� ������ 䠩���.

In [2]:
from itertools import count
from bs4 import BeautifulSoup
import requests
import bs4
import csv
import pandas as pd

page = requests.get('https://www.worldometers.info/coronavirus/#countries')
soup = BeautifulSoup(page.text, 'lxml')

rows = soup.find('table', {'id':'main_table_countries_today'}).find('tbody').find_all('tr')

countries_list=[]

for row in rows:
    dic={}

    dic['Country or Continents name'] = row.find_all('td')[1].text.replace('\n', '')
    dic['Total cases'] = row.find_all('td')[2].text.replace(',', ' ')
    dic['Total deaths'] = row.find_all('td')[4].text.replace(',', ' ')
    dic['Total recovered'] = row.find_all('td')[6].text.replace(',', ' ')
    dic['Active cases'] = row.find_all('td')[8].text.replace(',', ' ')
    dic['New cases'] = row.find_all('td')[3].text.replace(',', ' ')
    dic['New deaths'] = row.find_all('td')[5].text.replace(',', ' ')
    dic['Total tests'] = row.find_all('td')[12].text.replace(',', ' ')
    dic['Population'] = row.find_all('td')[14].text.replace(',', ' ')
    countries_list.append(dic)


df = pd.DataFrame(countries_list) #.loc[0:215] if we need to see 215 countries 
df.to_excel('coronavirus.xlsx', index=False)
df.to_csv('coronavirus.csv', index=False)
pd.read_csv('coronavirus.csv')

# continents are also displayed in this table, I thought that there are statistics there too, but if they need to be removed, it is possible

,Country or Continents name,Total cases,Total deaths,Total recovered,Active cases,New cases,New deaths,Total tests,Population
0,North America,117 073 602,1 545 282,112 235 099,3 293 221,+1 198,17.0,NaN,NaN
1,Asia,191 432 482,1 483 208,185 494 398,4 454 876,+141 141,204.0,NaN,NaN
2,Europe,230 709 419,1 927 871,223 241 085,5 540 463,+85 785,224.0,NaN,NaN
3,South America,64 226 432,1 331 153,62 539 936,355 343,+4 941,5.0,NaN,NaN
4,Oceania,12 458 127,21 205,12 302 490,134 432,+1 237,10.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
211,Liberia,7 985,294,7 681,10,NaN,NaN,139 824,5 328 175
212,Sierra Leone,7 752,126,NaN,NaN,NaN,NaN,259 958,8 346 080
213,Chad,7 605,193,4 874,2 538,NaN,NaN,191 341,17 498 507
214,British Virgin Islands,7 305,64,NaN,NaN,NaN,NaN,107 339,30 689
215,St. Vincent Grenadines,7 112,115,6 641,356,NaN,NaN,100 856,111 741