# <center>Assignment 4

In [1]:
Deadline: Friday 23:59

SyntaxError: ignored

Name:

**In this assignment you need to work with data from the [worldometers](https://www.worldometers.info/coronavirus/) website. I want you to scrape all 215 countries information about coronavirus cases from the website.** 
The data has to include:
- `Country name`
- `Total cases`
- `Total deaths`
- `Total recovered`
- `Active cases`
- `New cases`
- `New deaths`
- `Total tests`
- `Population`

**You need to use beautiful soup 4 and regular expressions for this task. Save results in csv file and read this dataset**

Run cell below, if you don't have bs4 library

In [2]:
!pip install BeautifulSoup4

"pip" �� ���� ����७��� ��� ���譥�
��������, �ᯮ��塞�� �ணࠬ��� ��� ������ 䠩���.

In [11]:
from itertools import count
from bs4 import BeautifulSoup
import requests
import bs4
import csv
import pandas as pd

page = requests.get('https://www.worldometers.info/coronavirus/#countries')
soup = BeautifulSoup(page.text, 'lxml')

rows = soup.find('table', {'id':'main_table_countries_today'}).find('tbody').find_all('tr')

countries_list=[]

for row in rows:
    dic={}

    dic['Country name'] = row.find_all('td')[1].text.replace('\n', '')
    dic['Total cases'] = row.find_all('td')[2].text.replace(',', ' ')
    dic['Total deaths'] = row.find_all('td')[4].text.replace(',', ' ')
    dic['Total recovered'] = row.find_all('td')[6].text.replace(',', ' ')
    dic['Active cases'] = row.find_all('td')[8].text.replace(',', ' ')
    dic['New cases'] = row.find_all('td')[3].text.replace(',', ' ')
    dic['New deaths'] = row.find_all('td')[5].text.replace(',', ' ')
    dic['Total tests'] = row.find_all('td')[12].text.replace(',', ' ')
    dic['Population'] = row.find_all('td')[14].text.replace(',', ' ')
    countries_list.append(dic)


df = pd.DataFrame(countries_list).loc[8:222] 
df.to_excel('coronavirus.xlsx', index=False)
df.to_csv('coronavirus.csv', index=False)
pd.read_csv('coronavirus.csv')

,Country name,Total cases,Total deaths,Total recovered,Active cases,New cases,New deaths,Total tests,Population
0,USA,98 727 136,1 089 385,95 924 535,1 713 216,NaN,NaN,1 122 981 123,335 130 632
1,India,44 621 319,528 847,44 065 963,26 509,NaN,NaN,897 355 355,1 410 866 119
2,France,36 038 327,155 675,34 894 458,988 194,NaN,NaN,271 490 188,65 601 920
3,Brazil,34 777 993,687 076,33 937 059,153 858,NaN,NaN,63 776 166,215 995 925
4,Germany,34 403 129,151 095,32 809 700,1 442 334,NaN,NaN,122 332 384,84 393 119
...,...,...,...,...,...,...,...,...,...
210,Turks and Caicos,6 380,36,6 321,23,NaN,NaN,550 093,39 909
211,Sao Tome and Principe,6 252,77,6 159,16,NaN,NaN,29 036,228 419
212,Palau,5 481,6,5 462,13,NaN,NaN,64 681,18 290
213,St. Barth,5 302,6,NaN,NaN,NaN,NaN,78 646,9 945
214,Nauru,4 611,1,4 605,5,NaN,NaN,20 509,10 979